In [1]:
import mysql.connector

# Create a connection object
mydb = mysql.connector.connect(
    host="localhost",
    user="root"
)

In [2]:
# Create a cursor object
mycursor = mydb.cursor()

# Execute a query to create a database
mycursor.execute("CREATE DATABASE IF NOT EXISTS exampledb")

# Execute a query to use the database
mycursor.execute("USE exampledb")

In [3]:
mycursor.execute("SELECT * FROM customers")

# Fetch all the rows from the result set
myresult = mycursor.fetchall()

In [4]:
# Print the result
for x in myresult:
    print(x)

(1, 'John', 'Highway 21')
(2, 'Mary', 'Lowstreet 4')
(3, 'Peter', 'Park Lane 38')
(4, 'Amy', 'Apple st 652')

In [5]:
# %pip install pymysql

In [7]:
import pymysql

In [8]:
connection = pymysql.connect(user='root', database='exampledb', host='localhost')

In [9]:
query = "SELECT * FROM customers"

In [10]:
# convert the query result to a DataFrame
df = pd.read_sql(query, connection, params=(start_date, end_date))

# close the connection
connection.close()

NameError: name 'pd' is not defined