In [14]:
# Import pymongo library
from pymongo import MongoClient

# Create a MongoClient object with the connection string
client = MongoClient(
    "mongodb+srv://madara:uchiha@cluster0.udl8rnv.mongodb.net/")

In [15]:
import pandas as pd

In [16]:
db = client.sample_analytics
collection = db.accounts

documents = list(collection.find())

In [17]:
df = pd.DataFrame(documents)

In [18]:
df

,_id,account_id,limit,products
0,5ca4bbc7a2dd94ee58162396,260499,10000,"[InvestmentFund, Derivatives, InvestmentStock]"
1,5ca4bbc7a2dd94ee5816238c,371138,9000,"[Derivatives, InvestmentStock]"
2,5ca4bbc7a2dd94ee5816238e,198100,10000,"[Derivatives, CurrencyService, InvestmentStock]"
3,5ca4bbc7a2dd94ee581623b9,775690,10000,"[InvestmentFund, InvestmentStock]"
4,5ca4bbc7a2dd94ee581623a3,775273,10000,"[Brokerage, Commodity, InvestmentStock]"
...,...,...,...,...
1741,5ca4bbc7a2dd94ee58162a34,423510,10000,"[Derivatives, InvestmentStock, InvestmentFund]"
1742,5ca4bbc7a2dd94ee58162a39,450464,10000,"[CurrencyService, Commodity, InvestmentStock]"
1743,5ca4bbc7a2dd94ee58162a3d,896364,9000,"[Commodity, InvestmentStock]"
1744,5ca4bbc7a2dd94ee58162a50,406478,10000,"[InvestmentFund, CurrencyService, InvestmentSt..."
1745,5ca4bbc7a2dd94ee58162a5d,206062,10000,"[InvestmentStock, CurrencyService, Derivatives]"

In [19]:
import pandas as pd
import matplotlib.pyplot as plt

# Separate the array elements into different columns with a prefix
df = df.explode("products")
df

                           _id  account_id  limit         products
0     5ca4bbc7a2dd94ee58162396      260499  10000   InvestmentFund
0     5ca4bbc7a2dd94ee58162396      260499  10000      Derivatives
0     5ca4bbc7a2dd94ee58162396      260499  10000  InvestmentStock
1     5ca4bbc7a2dd94ee5816238c      371138   9000      Derivatives
1     5ca4bbc7a2dd94ee5816238c      371138   9000  InvestmentStock
...                        ...         ...    ...              ...
1744  5ca4bbc7a2dd94ee58162a50      406478  10000  CurrencyService
1744  5ca4bbc7a2dd94ee58162a50      406478  10000  InvestmentStock
1745  5ca4bbc7a2dd94ee58162a5d      206062  10000  InvestmentStock
1745  5ca4bbc7a2dd94ee58162a5d      206062  10000  CurrencyService
1745  5ca4bbc7a2dd94ee58162a5d      206062  10000      Derivatives

[5383 rows x 4 columns]

In [ ]:
g = df.groupby(by='products')
g_df = pd.DataFrame(g)
g_df

In [20]:
data = df
one_hot = pd.get_dummies(data['products'])
data = data.drop('products', axis=1)
data = data.join(one_hot)
data

,_id,account_id,limit,Brokerage,Commodity,CurrencyService,Derivatives,InvestmentFund,InvestmentStock
0,5ca4bbc7a2dd94ee58162396,260499,10000,False,False,False,False,True,False
0,5ca4bbc7a2dd94ee58162396,260499,10000,False,False,False,True,False,False
0,5ca4bbc7a2dd94ee58162396,260499,10000,False,False,False,False,False,True
0,5ca4bbc7a2dd94ee58162396,260499,10000,False,False,False,False,True,False
0,5ca4bbc7a2dd94ee58162396,260499,10000,False,False,False,True,False,False
...,...,...,...,...,...,...,...,...,...
1745,5ca4bbc7a2dd94ee58162a5d,206062,10000,False,False,True,False,False,False
1745,5ca4bbc7a2dd94ee58162a5d,206062,10000,False,False,False,True,False,False
1745,5ca4bbc7a2dd94ee58162a5d,206062,10000,False,False,False,False,False,True
1745,5ca4bbc7a2dd94ee58162a5d,206062,10000,False,False,True,False,False,False
1745,5ca4bbc7a2dd94ee58162a5d,206062,10000,False,False,False,True,False,False

In [21]:
import pandas as pd
# assuming data is the DataFrame with one-hot encoded columns
data2 = data.groupby('_id').any() # group by ID and apply the any function
print(data2.head())

                          account_id  limit  Brokerage  Commodity
_id
5ca4bbc7a2dd94ee5816238c        True   True      False      False  \
5ca4bbc7a2dd94ee5816238d        True   True       True       True
5ca4bbc7a2dd94ee5816238e        True   True      False      False
5ca4bbc7a2dd94ee5816238f        True   True      False      False
5ca4bbc7a2dd94ee58162390        True   True      False       True

                          CurrencyService  Derivatives  InvestmentFund
_id
5ca4bbc7a2dd94ee5816238c            False         True           False  \
5ca4bbc7a2dd94ee5816238d             True        False           False
5ca4bbc7a2dd94ee5816238e             True         True           False
5ca4bbc7a2dd94ee5816238f            False        False           False
5ca4bbc7a2dd94ee58162390            False        False           False

                          InvestmentStock
_id
5ca4bbc7a2dd94ee5816238c             True
5ca4bbc7a2dd94ee5816238d             True
5ca4bbc7a2dd94ee5816238e             True
5ca4bbc7a2dd94ee5816238f             True
5ca4bbc7a2dd94ee58162390             True

In [22]:
print(len(data2))

1746

In [23]:
data2

,account_id,limit,Brokerage,Commodity,CurrencyService,Derivatives,InvestmentFund,InvestmentStock
_id,,,,,,,,
5ca4bbc7a2dd94ee5816238c,True,True,False,False,False,True,False,True
5ca4bbc7a2dd94ee5816238d,True,True,True,True,True,False,False,True
5ca4bbc7a2dd94ee5816238e,True,True,False,False,True,True,False,True
5ca4bbc7a2dd94ee5816238f,True,True,False,False,False,False,False,True
5ca4bbc7a2dd94ee58162390,True,True,False,True,False,False,False,True
...,...,...,...,...,...,...,...,...
5ca4bbc7a2dd94ee58162a5c,True,True,False,True,False,False,False,True
5ca4bbc7a2dd94ee58162a5d,True,True,False,False,True,True,False,True
5ca4bbc7a2dd94ee58162a5e,True,True,False,False,False,False,True,True
5ca4bbc7a2dd94ee58162a5f,True,True,False,False,False,False,False,True
5ca4bbc7a2dd94ee58162a60,True,True,False,True,False,False,False,True

In [24]:
counts = data2.sum() # get the sum of each column
print(counts)

account_id         1746
limit              1746
Brokerage           741
Commodity           720
CurrencyService     742
Derivatives         706
InvestmentFund      728
InvestmentStock    1746
dtype: int64